.bt-calendar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bt-week {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.bt-day {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.bt-item {
  padding: 0.5rem;
}
